/**
 * HTML resets
 */
html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #222;
}


/**
 * Horizontal loader
 */
.horizontal-loader__container {
  opacity: 1;
  transition: opacity 350ms;
  width: 100%;
}

.horizontal-loader__container-intermediate {
  background-color: #ccc;
  height: 2px;
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 100%;
}

.horizontal-loader__container-bar {
  background-color: #f00;
  box-shadow:0 0 16px 2px #f00;
  height: 2px;
  position: absolute;
  transition: width 2s;
  width: 50%;
}
